body {
  background-color: #2b2d2e;
}

.section-white {
  padding: 30px 0;
  background-color: #fafafa;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.section-blue {
  padding: 30px 0;
  background-color: #2f556d;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.section-blue h3 {
  border-bottom: 2px solid #53555c;
}
li {
  list-style-type: circle;
}
  
div button {
  color: black;
}

p {
  color: white;
}

label {
  color: #a98307;
}