body {
  background-color: #2b2d2e;
}

.calltoaction-wrapper h3 {
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}

/* Standard syntax */
@keyframes mymove {
    10% {text-shadow: 30px 30px 1px purple;}
20% {text-shadow: 30px 30px 3px purple;}
30% {text-shadow: 30px 30px 5px purple;}
40% {text-shadow: 30px 30px 7px purple;}
50% {text-shadow: 30px 30px 9px purple;}
60% {text-shadow: 30px 30px 11px purple;}
70% {text-shadow: 30px 30px 13px purple;}
80% {text-shadow: 30px 30px 15px purple;}
90% {text-shadow: 30px 30px 17px purple;}
100% {text-shadow: 30px 30px 19px purple;}
}

.section-white {
  padding: 30px 0;
  background-color: #fafafa;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.section-blue {
  padding: 30px 0;
  background-color: #2f556d;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.section-blue h3 {
  border-bottom: 2px solid #53555c;
}
li {
  list-style-type: circle;
}
  
div button {
  color: black;
}

p {
  color: white;
}

label {
  color: #a98307;
}
